{% extends "base.html" %}
{% block content %}
    <section class="row">
      <div class="small-12 medium-8 columns">
      <h1>Using the new TimelineJS</h1>
      <p>TimelineJS is an open-source tool that enables anyone to build visually rich, interactive timelines. Beginners can <a href="/docs/using-spreadsheets.html">create a timeline using nothing more than a Google spreadsheet</a>. Experts can use their JSON skills to <a href="json-format.html">create custom installations</a> while keeping TimelineJS's core functionality.</p>
      </div>
    </div>
    </section>
    <section class="row">
      <div class="small-12 medium-4 columns panel" id="tips-and-tricks">
        <h4>Tips & tricks</h4>
        <ol>
          <li>Keep it short. We recommend not having more than 20 slides for a reader to click through.</li>
          <li>Pick stories that have a strong chronological narrative. It does not work well for stories that need to jump around in the timeline.</li>
          <li>Write each event as a part of a larger narrative.</li>
          <li>Include events that build up to major occurrences — not just the major events.</li>
        </ol>
      </div>
      <div class="small-12 medium-7 columns">
        <h2>Learn more</h2>
        <p>Get up and running in minutes. Learn how to: </p>
        <ul>
          <li><a href="using-spreadsheets.html">Use our spreadsheet template</a></li>
          <li><a href="../index.html#make">Publish a timeline</a></li>
        </ul>

        <h2>Technical documentation</h2>
        <p>Go further with Timeline:</p>
        <ul>
          <li><a href="media-types.html">Supported Media Types</a></li>
          <li><a href="json-format.html">JSON data format reference</a></li>
          <li><a href="options.html">Timeline Configuration Options</a></li>
          <li><a href="instantiate-a-timeline.html">Using TimelineJS in Javascript</a></li>
        </ul>
        <h4>Need help?</h4>
        <p>We offer tech support <a href="mailto:support@knightlab.zendesk.com">via email</a> or <a href="https://knightlab.zendesk.com/anonymous_requests/new">a web form.</a> We try to be prompt, but please understand that we do not have a dedicated tech support staff.
        <h4> Find a bug?</h4>
        If you are confident you have found a bug, please report it as <a href="https://github.com/NUKnightLab/TimelineJS3/issues">a GitHub issue</a>. Be sure to include detailed instructions on how to reproduce the bug. If you're not sure, please start with the tech support system.</p>
      </div>
    </section>
{% endblock %}
