{% extends "base.html" %}

{% block content %}
<section>
    <div class="row">
      <div class="small-12 columns">
      <p class="breadcrumb"><a href="index.html">&#12298; Back to main documentation page</a></p>
      <h2 id="options">TimelineJS options</h2>
      <p>When you create a timeline manually by calling <code>VCO.Timeline</code>, you may pass in an optional third parameter which contains a variety of presentation options.</p>
      <table>
        <thead>
          <th>Name</th>
          <th>Default value</th>
          <th>Notes</th>
        </thead>
        <tbody>
          <tr>
            <td><code>script_path</code></td>
            <td>""</td>
            <td></td>
          </tr>
          <tr>
            <td><code>height</code></td>
            <td><code>this._el.container.offsetHeight</code></td>
            <td>The height of the timeline.</td>
          </tr>
          <tr>
            <td><code>width</code></td>
            <td><code>this._el.container.offsetWidth</code></td>
            <td>The width of the timeline.</td>
          </tr>
          <tr>
            <td><code>is_embed</code></td>
            <td><code>false</code></td>
            <td></td>
          </tr>
          <tr>
            <td><code>is_full_embed</code></td>
            <td><code>false</code></td>
            <td></td>
          </tr>
          <tr>
            <td><code>hash_bookmark</code></td>
            <td><code>false</code></td>
            <td></td>
          </tr>
          <tr>
            <td><code>default_bg_color</code></td>
            <td><code>{r:255, g:255, b:255}</code></td>
            <td>RGB values to use for slide backgrounds.</td>
          </tr>
          <tr>
            <td><code>scale_factor</code></td>
            <td>2</td>
            <td>How many screen witdhs wide the timeline should be.</td>
          </tr>
          <tr>
            <td><code>layout</code></td>
            <td>"landscape"</td>
            <td>Portrait or landscape layout.</td>
          </tr>
          <tr>
            <td><code>timenav_position</code></td>
            <td>"bottom"</td>
            <td>Display the timeline nav on the top or bottom.</td>
          </tr>
          <tr>
            <td><code>optimal_tick_witdh</code></td>
            <td>100</td>
            <td>optimal distance (in pixels) between ticks on axis</td>
          </tr>
          <tr>
            <td><code>base_class</code></td>
            <td>"vco-timeline"</td>
            <td>Removing the vco-timeline base class will disable all default stylesheets.</td>
          </tr>
          <tr>
            <td><code>timenav_height</code></td>
            <td>150</td>
            <td>The height in pixels the timeline nav should be.</td>
          </tr>
          <tr>
            <td><code>timenav_height_percentage</code></td>
            <td>25</td>
            <td>Specify the timeline nav height as a percentage of the screen instead of in pixels. Overrides <code>timenav_height</code>.</td>
          </tr>
          <tr>
            <td><code>timenav_mobile_height_percentage</code></td>
            <td>40</td>
            <td>Specify the timeline nav height as a percentage of a mobile device screen.</td>
          </tr>
          <tr>
            <td><code>timenav_height_min</code></td>
            <td>150</td>
            <td>The minimum timeline nav height (in pixels).</td>
          </tr>
          <tr>
            <td><code>marker_height_min</code></td>
            <td>30</td>
            <td>The minimum marker height (in pixels).</td>
          </tr>
          <tr>
            <td><code>marker_width_min</code></td>
            <td>100</td>
            <td>The minimum marker witdh (in pixels).</td>
          </tr>
          <tr>
            <td><code>marker_padding</code></td>
            <td>5</td>
            <td>Top and bottom padding (in pixels) for markers.</td>
          </tr>
          <tr>
            <td><code>start_at_slide</code></td>
            <td>0</td>
            <td>The first slide to display when the timeline is loaded.</td>
          </tr>
          <tr>
            <td><code>start_at_end</code></td>
            <td><code>false</code></td>
            <td>If true, loads timeline on last slide.</td>
          </tr>
          <tr>
            <td><code>menubar_height</code></td>
            <td>0</td>
            <td></td>
          </tr>
          <tr>
            <td><code>skinny_size</code></td>
            <td>650</td>
            <td>The breakpoint for narrow screen styles.</td>
          </tr>
          <tr>
            <td><code>medium_size</code></td>
            <td>800</td>
            <td>The breakpoint for medium screen styles.</td>
          </tr>
          <tr>
            <td><code>relative_date</code></td>
            <td>false</td>
            <td>Use <a href="http://momentjs.com/">Moment.js</a> to show a relative date from the <code>slide.text.date.created_time</code> field.</td>
          </tr>
          <tr>
            <td><code>use_bc</code></td>
            <td>false</td>
            <td>Use declared suffix on dates earlier than 0.</td>
          </tr>
          <tr>
            <td><code>duration</code></td>
            <td>1000</rd>
            <td>Animation duration (in milliseconds).</td>
          </tr>
          <tr>
            <td><code>ease</code></td>
            <td><code>VCO.Ease.easeInOutQuint</code></td>
            <td></td>
          </tr>
          <tr>
            <td><code>dragging</code></td>
            <td>true</td>
            <td></td>
          </tr>
          <tr>
            <td><code>trackResize</code></td>
            <td>true</td>
            <td></td>
          </tr>
          <tr>
            <td><code>slide_padding_lr</code></td>
            <td>100</td>
            <td>Padding (in pixels) on the left and right of each slide.</td>
          </tr>
          <tr>
            <td><code>slide_default_fade</code></td>
            <td>"0%"</td>
            <td></td>
          </tr>
          <tr>
            <td><code>zoom_sequence</code></td>
            <td>[0.5, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]</td>
            <td>Array of Fibonacci numbers for TimeNav zoom levels</td>
          </tr>
          <tr>
            <td><code>language</code></td>
            <td>"en"</td>
            <td></td>
          </tr>
          <tr>
            <td><code>ga_property_id</code></td>
            <td>null</td>
            <td>Google Analytics ID.</td>
          </tr>
          <tr>
            <td><code>track_events</code></td>
            <td>['back_to_start','nav_next','nav_previous','zoom_in','zoom_out']</td>
            <td></td>
          </tr>
        </tbody>
      </table>
{% endblock %}
