/* General styles */

/* Layout */
section {
  padding: 20px 0;
}

/* purpleline fixes */
/* should be incorporated into purpleline core */
table {
    font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

th,
td {
    padding: 0.5625em 0.625em;
}

table code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    padding: 0;
    background: transparent;
    border: none;
    color: #ce4d28;
}

/* Navbar */
nav section,
nav ul li { padding: 0; }

/* Handle fixed position navbar obscuring page anchors */
.jump:before {
  display: block;
  content: " ";
  margin-top: -65px;
  height: 65px;
  visibility: hidden;
}

  #overview hgroup {
    text-align: center;
  }
#intro-copy {
    margin-top: 30px;
}

#changelog ul {
    font-size: 85%;
}

#overview {
    padding: 20px 0 0 0;
    border-bottom: 1px solid #999;
    margin: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#overview ul { list-style: none; margin: 30px 0 0; display: inline-block;}
#overview ul li {
    margin-left: 0;
    display: inline;
}
#overview a {
    margin: 0 16px;
}

h2.intro { margin-bottom: 10px; }
#overview h4 {
    font-size: 14px;
    font-weight: normal;
    font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0 0 30px;
    display: inline;
}
.banner {
    /*background: #ccc;*/
    background: #fff;
    border-top: solid 1px #aaa;
    padding: 10px 0;
    margin: 10px 0 0 0;
}
.banner img {
    margin-left: 20px;
}
.banner-content {
    display: inline;
}
.corner.banner {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 300px;
    position: absolute;
    right: -71px;
    top: 40px;
    font-size: 85%;
    padding: 10px 0;
    border-bottom: solid 1px #aaa;
}
.corner.logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

/* Timeline */
#demo {
  width: 100%;
  height: 600px;
}

/* Steps */
.step .small-10 h4 span { display: none; color: #999; }
.step {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    border-bottom: 4px double #eee;
}
.step.last { border: none; }

  
  .step h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #ccc;
    font-size: 100px;
    line-height: 1em;
  }

  .step h3 { margin-top: 0; }

.more-options {
  margin: 20px 0;
  display: none;
}

.hide-options {
    display: none;
}

.help-inline,
.help-block {
    font-size: 85%;
    font-style: italic;
    color: #999;
}

.collapse .help-inline,
.collapse .help-block { margin-left: 20px; }

.checkbox input { margin-right: 20px; }

#embed-source-url-note {
  margin-top: -12px;
  margin-bottom: 20px;

}
ul#embed-font-dropdown,
ul#embed-font {
    list-style-type:none;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}
ul#embed-font{
    display:none;
    position:absolute;
    width: 90%;
    top: 50px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    background-color: #FAFAFA;
    z-index: 10;
    padding: 10px 25px 10px 30px;
}
ul#embed-font li img {
    max-width: 60%;
}
ul#embed-font-dropdown > li > p {
    font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0px;
}
#embed-font-dropdown img { cursor: pointer; }
.fa.fa-check { margin: 0 5px 0 -20px; }

#preview-required {
  display: none;
  font-family: sans-serif;
  font-size: smaller;
  margin-top: 10px;
}

#preview-embed {
  display: none;
}
#device-preview-mode {
    font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin-top: 40px;
}
#device-preview-mode span {
    transition: background-color 300ms ease-out;
    background-color: #DDDDDD;
    border: 1px solid #b1b1b1;
    padding: 5px 10px;
    margin: 0 4px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px 0px;
    cursor: pointer;
}
#device-preview-mode span.active,
#device-preview-mode span:hover,
#device-preview-mode span:focus {
    background-color: #bcbcbc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) inset, 0pt -10px 10pt rgba(0, 0, 0, 0.075) inset;
}
#preview-embed-iframe {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  width: 100%;
}
#preview-embed-iframe.desktop-view {
    width: 100%;
}
#preview-embed-iframe.tablet-view {
    width: 768px;
}
#preview-embed-iframe.mobile-view {
    width: 380px;
}
/* header */
.logo-mark.xl {
    margin-left: 65px;
    margin-top: 0;
}

/* Examples */
#examples h3 { 
  font-size: 16px;
  line-height: 1.3em;
}

h2.intro {
  margin: 20px auto 30px;
  max-width: 900px;
  padding: 0 20px;
}
#examples .row { 
  margin-bottom: 20px;
}

#examples img {
  margin-bottom: 10px;
}

.tabs {
  margin: 20px 20px 0 20px !important;
}

li.not-tab {
  float: right;
  margin-top: 15px;
  font-family: sans-serif;
  font-size: 12px;
  list-style: none;
}

/* Compatibility test page*/
#try-js3 { margin-top: 40px; }
#timeline-tester {
    margin: 20px auto;
    padding: 20px;
    background: #eee;
    border: 1px solid #ccc;
}

#timeline-tester small {
    font-size: 12px;
    font-family: sans-serif;
    font-style: italic;
}

#timeline-tester input {
    width: 85%;
    margin-bottom: 0;
}
#export-json {
    font-size: 12px;
    /*float: left;*/
}
#json-export-field {
    width: 95%;
    font-family: "Courier", sans-serif;
    font-size: 12px;
}

#timeline {
    height: 100%;
}

#more-fun {
    display: none;
    padding: 10px 0px 5px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    margin-top: -4px;
}
#more-fun h5 {
    float: left;
    margin: 5px 40px 0 0;
}
#options p {
    float: left;
    padding: 0 5px;
    font-weight: bold;
}

.note {
    margin-top: 40px;
    background: #eee;
    border: 1px solid #ccc;
    padding: 10px 20px;
}

.json-note.alert {
    text-align: center;
    margin-top: 30px;
    border-radius: 0;
}

p.caption {
    font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    float: right;
    color: #777;
    margin: 5px 10px 20px;
}

p.breadcrumb {
    font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 10px 0 20px 0;
}

#preview-inputs input,
#preview-inputs button{
    margin-bottom: 0;
    font-size: 13px;
    display: inline-block;
}

#preview-inputs input {
    min-width: 320px;
    max-width: 600px;
    font-family: sans-serif;
}

p.input-label {
    margin-bottom: 0;
    font-size: 13px;
    font-family: sans-serif;
    color: #757575;
}
#tips-and-tricks {
    margin-top: 20px;
}
/*purpleline override*/
#tips-and-tricks ol li {
    margin-top: 10px;
}
/* Developers */
#developers .develop {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

/* Error */
#error {
  margin-top: 40px;
  margin-bottom: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
}

  #error .error {
    font-size: 36px;
    line-height: 1.3em;
    text-align: center;
    color: red;
  }
  
#mc-embedded-subscribe-form .input-large {
  width: 260px;
}  

#font-preview-trigger { margin: 20px 0 0 0;}


@media (max-width: 767px) {
    body { font-size: 14px; }
    #overview {
        margin-left: 0px;
        margin-right: 0px;
    }
    #overview a { margin:0 10px; }
    /* purpleline override */
    h1.logo-mark.xl {
        font-size: 55px!important;
    }
    /* purpleline override */
    button.large,
    .button.large {
    font-size: 1rem;
    padding: 1rem 2rem;
    }
    h2.intro {
        font-size: 30px;
    }
    .corner.banner {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        top: 0;
        left: 0;
        margin-top: 0;
        width: 100%;
        background: #f3f3f3;
        border: 0;
        padding-bottom: 0;
    }
    .corner.logo { display: none; }
    .sub-nav .logo { display: inline-block; }
    #preview-embed .help-block,
    #device-preview-mode {
        display: none;
    }
    #changelog ul {
        font-size: 1rem;
        line-height: 1.6;
    }
}

@media (max-width: 600px) {
    #overview ul li {
        display: block;
        margin: 10px 0;
    }

    .step h2 { font-size: 70px; }
    .step h4 { font-size: 1.3em; line-height: 1.4; }
}

@media (max-width: 500px) {
    #overview { margin-bottom: 20px; }
    .banner { margin-top: 20px; }
    .banner-content { display: block; }
    .banner img {
        margin: auto;
        display: block;
        width: 220px;
    }
    #overview .banner-content h4 { display: none; }
    h2.intro {
        font-size: 25px;
        margin: 10px 0;
    }
    .logo-mark.xl { margin-top: 25px; }
    #overview ul {
        margin: 10px 0 0 0;
    }
    #changelog,
    #intro-copy { margin-top: 0; padding-top: 0;}
    p.lead {
        font-size: 16px;
    }
    #overview .sub-nav li { display: none; }
    #overview .sub-nav li:last-child { display: block; }
    #overview a.button { margin-top: 10px; }
    .step {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .step .small-2,
    .step img { display: none; }
    .step .small-10 { width: 100%; }
    .step .small-10 h4 span { display: inline; }

}

@media (max-width: 380px) {
    body { font-size: 14px; }
    .logo-mark.xl {
        font-size: 50px;
        margin-left: 30px;
    }
    h2.intro { font-size: 20px; }
    #overview ul li a { padding: 10px 0; }
    .banner img { margin-left: 25px; }
    p.lead { font-size: 1rem; line-height: 27px; }
    p small,
    #changelog ul{ font-size: 100%; line-height: 26px; }
    p.caption { border-bottom: 1px solid #d0d0d0; padding-bottom: 10px; }
    #preview-inputs input { min-width: 250px; }
    #preview-inputs button { margin: 10px auto; }
    #examples .span2 { text-align: center; }
    #examples img { margin: 10px auto; }
}
